@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-green {
  color: #4B9560;
}

.custom-bg-green {
  background-color: #4B9560;
}

.neutral-black {
    color: #495057;
}

.neutral-grey {
  color: #ADB5BD;
}

.muted-grey {
  color: #666666;
}

.dark-grey {
  color: #64748B;
}

.dark-color {
  color: #344054;
}

.neutral-black-2 {
  color: #343A40;
}

.neutral-grey-2 {
  color: #848484;
}

.modal-overlay {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  overflow: auto;
  border: 1px solid red;
}

.modal-content-body {
  box-shadow: 0 5px 10px 0 rgba(92, 92, 100, 0.25);
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  border: 1px solid red;
  
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2000;
  top: 0;
  left: 0;
  animation: zoomOut 0.6s ease-in-out;
  overflow: auto;
}

.modal-content-body .close-button {
  align-self: flex-end;
  background: transparent;
  border: none;
}